.btn {
    width: auto;
    height: auto;
}

.first-block-filter{
    text-align: center;
    width:230px;
    height:155px;
    position:absolute;
    top:14px;
    left:4px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.first-block-filter-men-women-symbol{
    width:50px;
    height:33px;
    margin-top: 5px;
    position:absolute;
    left:72px;
}

.first-block-filter-text {
    position: absolute;
    top: 4px;
    color: white;
}

.first-block-filter-girls-only {
    text-align: center;
    width:205px;
    height:27px;
    background: #4E9314;
    margin: 47px 12px 0px;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

.first-block-filter-guys-only {
    text-align: center;
    width:205px;
    height:26px;
    background: #4E9314;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    margin: 10px 12px 0px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

.first-block-filter-girls-and-guys {
    text-align: center;
    width:205px;
    height:27px;
    background: #4E9314;
    margin: 10px 12px 0px;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

/***********/

.second-block-filter{
    text-align: center;
    width:230px;
    height:155px;
    position:absolute;
    top:14px;
    left:247px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.second-block-filter-white-girl{
    width:50px;
    height:33px;
    margin-top: 5px;
    position:absolute;
    left:72px;
}

.second-block-filter-text {
    position: absolute;
    top: 4px;
    left:124px;
    color: white;
}

.second-block-filter-input{
    text-align: center;
    width:205px;
    height:22px;
    margin: 47px 0px 0px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.second-block-filter-chars {
    margin:0px 32px;
    text-align: center;
    width: 166px;
    line-height: 20px;
    font-size: 20px;
    margin-top: 6px;
}

.second-block-filter-chars-blue {
    text-align: center;
    width:20px;
    height:20px;
    background: #4E9314;
    cursor: pointer;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}
.second-block-filter-chars-white {
    text-align: center;
    color: black;
    background: white;
    font-size: 16px;
    cursor: pointer;
}

/**************/

.tag-filter{
    text-align: center;
    /*display: none;*/
    width:230px;
    height:225px;
    position:absolute;
    top:74px;
    /*left:489px;*/
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.tag-filter-text {
    color: white;
}

.tag-filter-text-smaller {
    font-size: 20px;
    font-weight: bold;
    height: 27px;
    color: white;
}

.tag-filter-input{
    width:205px;
    height:22px;
    margin: 0px 0px 0px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.tag-filter-grey-track {
    line-height: 0px;
    height: 202px;
    padding-top: 10px;
    overflow: auto;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}

.tag-filter-grey-track-image {
    height: 28px;
    width: 162px;
}

.tag-filter-grey-track-text {
    height: 28px;
    width: 162px;
    color: white;
    padding-top: 8px;
    cursor: pointer;
    padding-top: 7px;
}
.tag-filter-content {
    color: white;
    float: left;
    font-size: 16px;
    height: 200px;
    padding-top: 10px;
    width: 230px;
    overflow: hidden;
}

.tag-filter-content-text-box {
    float: left;
    overflow: hidden;
    padding: 4px;
    background: darkblue;
    border: 1px solid white;
    cursor: pointer;
}

/**************/
#tag-filter-visible{
    text-align: center;
    width:230px;
    height:90px;
    position:absolute;
    top:15px;
    left:489px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.tag-filter-input-visible{
    text-align: center;
    width:205px;
    height:22px;
    margin: 0px 0px 0px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}
/**************

.tag-filter-fancybox-position-0 {top: 500px !important;left: 765px !important;}
.tag-filter-fancybox-position-50 {top: 450px !important;left: 765px !important;}
.tag-filter-fancybox-position-100 {top: 400px !important;left: 765px !important;}
.tag-filter-fancybox-position-150 {top: 350px !important;left: 765px !important;}
.tag-filter-fancybox-position-200 {top: 300px !important;left: 765px !important;}
.tag-filter-fancybox-position-250 {top: 250px !important;left: 765px !important;}
.tag-filter-fancybox-position-300 {top: 200px !important;left: 765px !important;}
.tag-filter-fancybox-position-350 {top: 150px !important;left: 765px !important;}
.tag-filter-fancybox-position-400 {top: 100px !important;left: 765px !important;}
.tag-filter-fancybox-position-450 {top: 50px !important;left: 765px !important;}
.tag-filter-fancybox-position-500 {top: 0px !important;left: 765px !important;}

/**************/

.search-by{
    text-align: center;
    width:230px;
    height:155px;
    position:absolute;
    top:15px;
    left:733px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.search-by-magnifying{
    width:34px;
    height:33px;
    margin-top: 5px;
    position:absolute;
    left:37px;
}

.search-by-text {
    position: absolute;
    top: 4px;
    left: 76px;
    color: white;
}

.search-by-recent-activity {
    text-align: center;
    width:205px;
    height:27px;
    background: #4E9314;
    margin: 47px 12px 0px;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

.search-by-popularity {
    text-align: center;
    width:205px;
    height:26px;
    background: #4E9314;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    margin: 10px 12px 0px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

.search-by-number-of-scenes {
    text-align: center;
    width:205px;
    height:27px;
    background: #4E9314;
    margin: 10px 12px 0px;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

/*********/

.scenes-search-by{
    text-align: center;
    width:230px;
    height:155px;
    position:absolute;
    top:14px;
    left:4px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-search-by-magnifying{
    width:34px;
    height:33px;
    margin-top: 5px;
    position:absolute;
    left:37px;
}

.scenes-search-by-text {
    position: absolute;
    top: 4px;
    left: 76px;
    color: white;
}

.scenes-search-by-recent-activity {
    text-align: center;
    width:205px;
    height:27px;
    background: #4E9314;
    margin: 47px 12px 0px;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

.scenes-search-by-popularity {
    text-align: center;
    width:205px;
    height:26px;
    background: #4E9314;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    margin: 10px 12px 0px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}

.scenes-search-by-number-of-scenes {
    text-align: center;
    width:205px;
    height:27px;
    background: #4E9314;
    margin: 10px 12px 0px;
    color: #292929;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}


/**************/

.scenes-tag-filter{
    text-align: center;
    /*display: none;*/
    width:230px;
    height:225px;
    position:absolute;
    top:74px;
    /*left:489px;*/
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-tag-filter-text {
    color: white;
}

.scenes-tag-filter-text-smaller {
    font-size: 20px;
    font-weight: bold;
    height: 27px;
    color: white;
}

.scenes-tag-filter-input{
    width:205px;
    height:22px;
    margin: 0px 0px 0px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-tag-filter-grey-track {
    line-height: 0px;
    height: 168px;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}

.scenes-tag-filter-grey-track-image {
    height: 28px;
    width: 162px;
}

/**************/

.scenes-tag-filter-visible-grey-earth {
    height: 28px;
    width: 162px;
    position:absolute;
    left:77px;
    top: 8px;
}

.scenes-filter-visible-text {
    position:absolute;
    left:111px;
    top: 5px;
    color: white;
}

.tag-filter-visible-text {
    color: white;
}

#scenes-tag-filter-visible{
    text-align: center;
    width:230px;
    height:90px;
    position:absolute;
    top:14px;
    left:247px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-tag-filter-input-visible{
    text-align: center;
    width:205px;
    height:22px;
    margin: 47px 0px 0px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

/***********/

.scenes-girl-filter{
    text-align: center;
    width:230px;
    height:155px;
    position:absolute;
    top:14px;
    left:489px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-girl-filter-white-girl{
    width:50px;
    height:33px;
    margin-top: 5px;
    position:absolute;
    left:72px;
}

.scenes-girl-filter-text {
    position: absolute;
    top: 4px;
    left:124px;
    color: white;
}

.scenes-girl-filter-input{
    text-align: center;
    width:205px;
    height:22px;
    margin: 47px 0px 0px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-girl-filter-chars {
    margin:0px 11px;
    text-align: left;
    width: 210px;
    line-height: 20px;
    font-size: 20px;
    margin-top: 6px;
    cursor: pointer;
}

.scenes-girl-filter-chars-blue {
    text-align: center;
    width:20px;
    height:20px;
    background: #4E9314;
    cursor: pointer;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}
.scenes-girl-filter-chars-white {
    text-align: center;
    color: black;
    background: white;
    font-size: 16px;
    cursor: pointer;
}

.scenes-girl-filter-clear-all{
    cursor: pointer;
    width:67px;
    height:11px;
    margin-top: 25px;
    position:absolute;
    left:14px;
}

/***********/

.scenes-cat-filter{
    text-align: center;
    width:230px;
    height:155px;
    position:absolute;
    top:14px;
    left:733px;
    text-align: -moz-center;
    line-height: 38px;
    color: #292929;
    font-size: 21px;

    background: #111113;
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #353535, #111113);
    /* webkit based browsers */
    background: -webkit-linear-gradient(top, #353535, #111113);

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-cat-filter-category{
    width:50px;
    height:33px;
    margin-top: 5px;
    position:absolute;
    left:72px;
}

.scenes-cat-filter-text {
    position: absolute;
    top: 4px;
    left:124px;
    color: white;
}

.scenes-cat-filter-input{
    text-align: center;
    width:205px;
    height:22px;
    margin: 47px 0px 0px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.scenes-cat-filter-chars {
    margin:0px 11px;
    text-align: left;
    width: 210px;
    line-height: 20px;
    font-size: 20px;
    margin-top: 6px;
    cursor: pointer;
}

.scenes-cat-filter-chars-blue {
    text-align: center;
    width:20px;
    height:20px;
    background: #4E9314;
    cursor: pointer;

    background: #4E9314;
    background: -moz-linear-gradient(top, #4E9314, #5FAC1D);
    background: -webkit-linear-gradient(top, #4E9314, #5FAC1D);
}
.scenes-cat-filter-chars-white {
    text-align: center;
    color: black;
    background: white;
    font-size: 16px;
    cursor: pointer;
}

.scenes-cat-filter-clear-all{
    width:67px;
    height:11px;
    margin-top: 25px;
    position:absolute;
    left:14px;
    cursor: pointer;
}

.scenes-cat-filter-asian {
    width:47px;
    height:17px;
    cursor: pointer;
}

.scenes-cat-filter-big-tits {
    width:67px;
    height:17px;
    cursor: pointer;
}

/**************/


#search-wrapper {
	width:100%;
	height:135px;
	background: #5f5f5f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5f5f5f 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f5f5f), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5f5f5f 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
}

	#search-wrapper .box {
		width:220px;
		margin: 2px auto 0 5px;
		float: left;
		text-align: center;
		border-left: 1px solid #5f5f5f;
		height: 131px;
		padding: 0 10px;
		position:relative;
		top:0;
		left:0;
	}

	#search-wrapper .box220 {
		width: 220px;
	}

	#search-wrapper .box300 {
		width:303px;
	}

	#search-wrapper .box:first-child {
		border:none;
	}

		#search-wrapper .box h2 {
			color:#fff;
			font-size: 18px;
			font-weight: normal;
			text-transform: uppercase;
			margin: 4px 0;
		}

		#search-wrapper .box input {
			width: 200px;
			border-radius: 2px;
			border: none;
			margin: 0 auto 5px;
			text-align: center;
			font-size: 12px;
			height: 18px;
			box-shadow: inset 1px 1px #ccc;
		}

		#search-wrapper .box a.nav-button {
			text-decoration:none;
			display:block;
			float:left;
			color:#fff;
			background: #6d6d6d; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkNmQ2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  #6d6d6d 0%, #343434 54%, #343434 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(54%,#343434), color-stop(99%,#343434)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #6d6d6d 0%,#343434 54%,#343434 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #6d6d6d 0%,#343434 54%,#343434 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #6d6d6d 0%,#343434 54%,#343434 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #6d6d6d 0%,#343434 54%,#343434 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#343434',GradientType=0 ); /* IE6-8 */
			padding: 4px 2px 3px 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-webkit-box-shadow: inset 0px 2px 3px rgba(116, 116, 116, 0.75);
			-moz-box-shadow:    inset 0px 2px 3px rgba(116, 116, 116, 0.75);
			box-shadow:         inset 0px 2px 3px rgba(116, 116, 116, 0.75);
		}

		#search-wrapper .box a.nav-button:hover, #search-wrapper .box a.nav-button.active {
			cursor: pointer;
			color:#2acd03;
			font-size:100%;
			background: #343434; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDZkNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #343434 1%, #343434 46%, #6d6d6d 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#343434), color-stop(46%,#343434), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #343434 1%,#343434 46%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #343434 1%,#343434 46%,#6d6d6d 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #343434 1%,#343434 46%,#6d6d6d 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #343434 1%,#343434 46%,#6d6d6d 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-8 */


		}

			#search-wrapper .box .alphabet {
				width:172px;
				margin:0 auto;
			}

			#search-wrapper .box a.nav-button.nav-letter {
				margin: 1px;
				padding: 1px 4px;
				min-width: 8px;
				text-align: center;
				font-size: 0.9em;
				height: 15px;
			}
			#search-wrapper .box a.nav-button.nav-letter.active {
				font-weight:normal;
			}

			#search-wrapper .box .clear_btn {
				position: absolute;
				bottom: 5px;
				left: 9px;
				color:#fff;
				font-weight:bold;
                                margin: 0px 12px;
			}

			#search-wrapper .box .advanced_btn {
				position: absolute;
				bottom: 5px;
				right: 2px;
				font-weight:bold;
				margin: 0px 12px;
				color: #2ACD03;
			}

			#search-wrapper .box .advanced_btn_model {
				position: absolute;
				bottom: 5px;
				right: 2px;
				font-weight:bold;
				margin: 0px 12px;
				color: #2ACD03;
			}

		#search-wrapper .box ul li a.nav-button {
			float:none;
			width:200px;
			text-align:center;
			margin:4px auto 6px;
			font-weight:bold;
		}

		#search-wrapper .box .search_tag_active span {
			padding: 1px 4px;
			float: left;
			min-width: 10px;
			background: #2acd03;
			color: #000;
			margin: 1px;
			border-radius: 3px;
			font-size: 10px;
		}

		#search-wrapper .box .search_tag_active span:hover {
			background: #b5e8a8;
			cursor: pointer;
		}

		#search-wrapper .box .item-list {
			display:none;
                        z-index: 1;
		}

			#search-wrapper .box .item-list ul {
				padding:0;
			}

			#search-wrapper .box .item-list ul li {

			}

/* scene search parts */

.more_search_options {
	height:55px;
	width:100%;
	padding-top: 5px;
	border-top: 1px solid #333333;
	background: #0e0e0e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0e0e0e 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e0e0e 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e0e0e 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e0e0e 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e0e0e 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
	color:#fff;
}

	.more_search_options a {
		color:#fff;
	}

	.more_search_options>div {
		margin: 0 auto;
		width: 925px;
		height: 17px;
		clear: both;
	}

	.more_search_options .active {
		font-weight: bold;
		color: #2acd03;
	}

		.more_search_options .years span.label {
			float: left;
			font-weight: bold;
			color: #2acd03;
		}


		.more_search_options .years>div {
			float: left;
			display: inline;
			border-left: 1px solid black;
			padding-left: 15px;
			font-size: 12px;
		}
		.more_search_options .years>div:first-child {
			border-left: none;
			padding-left:0;
		}

		.more_search_options .years div ul {
			padding: 0;
			float: left;
			margin: 0;
		}
			.more_search_options .years div ul li {
				float: left;
				text-align:center;
				width: 51px;
				border-left:1px solid #3a3a3a;
			}
			.more_search_options .years div ul li:first-child {
				border: none;
			}

	.more_search_options .months {
		background: #565656;
		border-radius: 4px;
		padding-top: 3px;
		letter-spacing: 5px;
		font-size: 1.1em;
		margin-top: 5px;
	}
		.more_search_options .months ul {
			padding: 0;
			margin: 0;
		}
			.more_search_options .months ul li {
				float: left;
				width: 75px;
				border-left:1px solid #b2b2b2;
				text-align: center;
			}
			.more_search_options .months ul li:first-child {
				border:none;
			}











/* more search options end */

.keyword-list{
    position:absolute;
    left:20px;
    width:201px;
    height: 202px;
    overflow: auto;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    color: white;
	background: #5f5f5f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5f5f5f 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f5f5f), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5f5f5f 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	z-index:1;
	display: none;
}

.keyword-list li {
    font-size: 14px;
    padding-top: 7px;
    cursor: pointer;
}

.item-list{
    position:absolute;
    left:20px;
    width:201px;
    height: 202px;
    overflow: auto;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    color: white;
	background: #5f5f5f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5f5f5f 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f5f5f), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f5f5f 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5f5f5f 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.item-list li {
    font-size: 14px;
    padding-top: 7px;
    cursor: pointer;
}

#free_word_search {
	width: 180px;
	border: none;
	margin: 0 auto 5px;
	text-align: center;
	font-size: 12px;
	padding: 7px 20px 10px 6px;
	height: auto;
	position: relative;
}
	.free_word_result_container {
		display: none;
		width: 147px;
		min-height: 24px;
		height: auto !important;
		height: 24px;
		position: absolute;
		background: #fff;
		left: 21px;
		z-index: 1;
		top: 26px;
		line-height: 18px;
	}

		#status-bar .free_word_result_container ol {
			margin:0;
			padding:0;
			list-style-type: none;
		}
		#status-bar .free_word_result_container ol li {
			background: #fff;
			border: none;
		}
		#status-bar .free_word_result_container ol li a{
			cursor:pointer;
			background: none;
			border: none;
			padding: 0;
			color: #000;
			line-height: 25px;
		}
		#status-bar .free_word_result_container ol li a:hover {
			background: #cacaca;
		}

#free_word_search input[type=text]{
    width: 150px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    text-align: center;
    font-size: 12px;
    height: 19px;
    box-shadow: inset 1px 1px #ccc;
}

#free_word_search_image {
    height: 21px;
    width: 22px;
    margin: 0px 0px -5px -3px;
    cursor: pointer;
	position: absolute;
	top: 7px;
}



section.info {
    background: url("/images/bg-texture-light.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 17px;
    margin: 2px 0 0;
    width: 201px;
}

.fancybox2-skin {
    background: url("/images/opacity-60.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    /*background-color: #000;*/
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: none;
}

/*
.keywordsWithParent {
    display: none;
}*/

#keywordsWithParent_group {
    font-size: 18px;
    font-weight: bold;
    color: #cdcdcd;
}

#keywordsWithParent_group .btn-inverse{
    margin: 13px 37px 18px 404px;
    padding: 4px 42px;
    opacity: 1;
}

#keywordsWithParent_group .btn{
    opacity: 1;
}

#keywordsWithParent_group span{
    float: right;
    font-size: 14px;
    padding: 18px;
    cursor: pointer;
}

#keywordsWithParent_group div{
    clear: both;
}

.keywordsWithParent_keyword {
    padding: 14px;
}

                .keywordsWithParent_keyword.location {
                    display: none;
                }

                .keywordsWithParent_keyword.model {
                    display: block;
                }

                .keywordsWithParent_keyword.modelpart {
                    display: block;
                }

                .keywordsWithParent_keyword.action {
                    display: none;
                }

                .keywordsWithParent_keyword.clothing {
                    display: none;
                }

                .keywordsWithParent_keyword.niche___style {
                    display: none;
                }

                .keywordsWithParent_keyword.toys {
                    display: none;
                }

                .keywordsWithParent_keyword.quality {
                    display: none;
                }

.keywordsWithParent_keyword ul{
    display: block;
    float: left;
    padding: 2px;
}

.keywordsWithParent_keyword li{
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
}

.keywordsWithParent_keyword ol{
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
    padding: 7px 2px;
}

.keywordsWithParent_keyword li label{
    display: inline-block;
    padding: 7px;
}

.keywordsWithParent_keyword_sec_ul {
    padding: 7px;
    font-weight: normal;
    font-size: 15px;
    color: #cdcdcd;
}

.keywordsWithParent_keyword.model ul li:first-child {
    padding: 7px 11px;
    font-weight: bold;
    font-size: 17px;
    /*color: #51a351;*/
    color: #2ACD03;
}

.keywordsWithParent_keyword.model ul ol:first-child {
    font-weight: normal;
    font-size: 15px;
    color: #cdcdcd;
}

.keywordsWithParent_keyword.action ul li:first-child {
    padding: 7px 11px;
    font-weight: bold;
    font-size: 17px;
    color: #2ACD03;
}

.keywordsWithParent_keyword.action ul ol:first-child {
    font-weight: normal;
    font-size: 15px;
    color: #cdcdcd;
	margin-top: 28px;
}

.keywordsWithParent_keyword.modelpart ul li:first-child {
    padding: 26px 1px 8px 11px;
    font-weight: bold;
    font-size: 17px;
    /*color: #51a351;*/
    color: #2ACD03;
}

.keywordsWithParent_keyword.modelpart ul ol:first-child {
    font-weight: normal;
    font-size: 15px;
    color: #cdcdcd;
    padding: 7px 1px;
	margin-top: 48px;
}

.btn-success {
    /*background-image: linear-gradient(to bottom, #62C462, #2ACD03);*/
    background-image: linear-gradient(to bottom, #2ACD03, #2ACD03);
    background-color: #2ACD03;
}

.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success.disabled, .btn-success[disabled] {
    background-color: #2ACD03;
}
