#login_bnt {
	background-color:green;
	height:70px;
	width:150px;
}

.login_btn { background-color: green; width: 60px; height: 25px; }

.section-main.login-form {
	height:600px;
}

.loginbox {
	background:url(../images/login/login.gif) 0 0 no-repeat;
	bottom:150px;
	height:300px;
	left:150px;
	position:relative;
	top:150px;
	width:530px;
}

.uname {
	height:22px;
	left:220px;
	position:relative;
	top:85px;
	width:230px;
}

.passwd {
	height:22px;
	left:220px;
	position:relative;
	top:100px;
	width:230px;
}

.remember {
	height:22px;
	left:70px;
	position:relative;
	top:166px;
	width:20px;
}

.remember input {
	border:solid 2px #e6cce5;
	font-size:12px;
	height:18px;
	margin:0;
	width:20px;
}

.login {
	cursor: pointer;
	height:29px;
	left:260px;
	position:relative;
	top:88px;
	width:137px;
}

.jointoday {
	cursor: pointer;
	height:30px;
	left:0;
	position:relative;
	top:174px;
	width:530px;
}

.shauth {
	/*display:boxed;*/
	height:165px;
	left:55px;
	position:absolute;
	top:45px;
	width:420px;
	z-index:2;
}

.hdauth {
	display:none;
}

.uname input,.passwd input {
	border:solid 2px #e6cce5;
	font-size:12px;
	height:18px;
	margin:0;
	width:220px;
}